.critical-error {
  @include flex(column, center, null);
  flex: 1 0 auto;
  &__content {
    @include flex(column, null, center);
  }
  &__row {
    text-align: center;
    &:not(:last-child) {
      margin: 0 0 8px;
    }
    &:first-child {
      margin: 0 0 12px;
    }
  }
  &__icon {
    @include imageWithFixedAspectRatio(56px);
  }
  &__reason {
    @include setTextOptions(null, 600, 17px, 22px);
  }
  &__promise {
    @include setTextOptions($textTertiary, 400, 16px, 20px);
  }
  &__reload {
    @include setTextOptions($lightContentActivePrimary,16px,20px,$fontPrimary);
    background-color: transparent;
    border: 0;
    cursor: pointer;
    &:focus{
      outline: 1px solid $lightContentDefaultPrimary;
    }
  }
}
